[Unit]
Description=StrataSTOR Rodent Service
After=network.target
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=rodent
Group=rodent
ExecStart=/usr/local/bin/rodent serve
WorkingDirectory=/home/rodent/.rodent
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=RODENT_CONFIG=/home/rodent/.rodent/rodent.yml
Environment=RODENT_PID_PATH=/home/rodent/.rodent/rodent.pid

# Allow a reasonable amount of time for the service to start
TimeoutStartSec=60

# Security hardening
# ProtectSystem=true
# ReadWritePaths=/var/lib/rodent /var/log/rodent /home/rodent /etc/samba /etc/samba/sbm.conf /etc/hosts /etc/resolv.conf /etc/krb5.conf 
ReadWritePaths=/var/lib/rodent /var/log/rodent /home/rodent /etc/hosts /etc/resolv.conf /etc/krb5.conf /etc/netplan /etc/systemd/network /etc/samba/smb.conf 
PrivateTmp=true
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target