[{{.Name}}]
    path = {{.Path}}
    comment = {{.Description}}
    read only = {{if .ReadOnly}}yes{{else}}no{{end}}
    browsable = {{if .Browsable}}yes{{else}}no{{end}}
    {{if .ValidUsers}}valid users = {{join .ValidUsers ", "}}{{end}}
    {{if .InheritACLs}}inherit acls = yes{{end}}
    {{if .MapACLInherit}}map acl inherit = yes{{end}}
    {{range $key, $value := .CustomParameters}}
    {{$key}} = {{$value}}
    {{end}}